<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
 	 </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li ><%= link_to_unless(session[:current_student_id].nil?, "Log Out", { controller: "game", action: "logout" }) %></li>
		</ul>
	</div>
</nav>
<div class="jumbotron">
<h1><center>Select a chapter.</center></h1>
</div>
<a href="test_one" class="btn btn-primary btn-lg btn-block" role="button">Chapter One Game</a><br>
<a href="" class="btn btn-danger btn-lg btn-block" role="button">Chapter Two Game (Unavailable)</a><br>
<a href="" class="btn btn-danger btn-lg btn-block" role="button">Chapter Three Game (Unavailable)</a><br>
<a href="" class="btn btn-danger btn-lg btn-block" role="button">Chapter Four Game (Unavailable)</a><br>
<a href="" class="btn btn-danger btn-lg btn-block" role="button">Chapter Five Game(Unavailable)</a><br>