@import "bootstrap";

body {
	font-size: 20px;
	background-color: #ECEDED;
}
	
.jumbotron {
	color: 27D6B3;
	text-align: center;
	background-color: #41D680;
	opacity: 1.0;
	/*text-shadow: black 0.1em 0.2em 0.3em;*/
	font-size: 48px;
}

.form-group {
	color: black;
}

.btn{
	background-color: #41D680;
}

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 40px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Arial;
	font-size: 1.6em;
	font-weight: 100;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #41D680;
	transition: 0.3s all linear;
	height: 100%;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}