<!DOCTYPE html>
<html>
<head>
  <title>Educational Gardening Assistant</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/assets/application.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
      <%= yield %>
</body>
</html>
